/* -----------------------MEDIA 1024px--------------------- */

@media screen and (max-width: 1024px) {

    .sub-head h1{
        font-size: 50px;
    }
    
    .sub-head img{
        margin-bottom: 30px;
        height: 50px;
        width: 100px;
    }
}

/* -----------------------MEDIA 920px--------------------- */
/* @media only screen and (max-width: 920px) {

	.sub-head h1{
        font-size: 60px;
    }
    
    .sub-head img{
        margin-bottom: 30px;
        height: 70px;
        width: 140px;
    }
} */

/* -----------------------MEDIA 800px--------------------- */
/* @media only screen and (max-width: 800px) {

    .sub-head{
        height: 20vh;
    }

	.sub-head h1{
        font-size: 48px;
    }
    
    .sub-head img{
        margin-bottom: 30px;
        height: 70px;
        width: 100px;
    }
} */

/*----------------------- MEDIA 540px--------------------- */
/* @media only screen and (max-width: 540px) {

	.sub-head h1{
        font-size: 34px;
    }
    
    .sub-head img{
        margin-bottom: 30px;
        height: 70px;
        width: 100px;
    } */

    /* *******************LOGOUT BUTTON***************** */

    /* .logout-btn{
        padding: 3px;
        font-size: 14px;
        font-weight: 500;
    }

    .logout i{
        padding: 1px;
    }
} */

/*----------------------- MEDIA 450px--------------------- */
/* @media only screen and (max-width: 450px) {

    .sub-head{
        height: 17vh;
    }

	.sub-head h1{
        font-size: 38px;
    }
    
    .sub-head img{
        display: none;
    } */

    /* *******************LOGOUT BUTTON***************** */

    /* .logout-btn{
        padding: 3px;
        font-size: 13px;
        font-weight: 500;
    }

    .logout i{
        padding: 1px;
    }
} */

/*----------------------- MEDIA 375px---------------------- */
/* @media only screen and (max-width: 375px) {

    .sub-head{
        height: 20vh;
    }

	.sub-head h1{
        font-size: 33px;
    }
    
    .sub-head img{
        margin-bottom: 30px;
        height: 50px;
        width: 100px;
    } */

    /* *******************LOGOUT BUTTON***************** */

    /* .logout-btn{
        padding: 3px;
        font-size: 12px;
        font-weight: 500;
    }

    .logout i{
        padding: 1px;
    }
} */

/*----------------------- MEDIA 280px---------------------- */
/* @media only screen and (max-width: 280px) {

    .sub-head{
        height: 18vh;
    }

	.sub-head h1{
        font-size: 28px;
    }
    
    .sub-head img{
        margin-bottom: 30px;
        height: 50px;
        width: 100px;
    } */

    /* *******************LOGOUT BUTTON***************** */

    /* .logout-btn{
        padding: 3px;
        font-size: 12px;
        font-weight: 500;
    }

    .logout i{
        padding: 1px;
    }
} */

/*----------------------- MEDIA 475px---------------------- */
@media (max-width: 475px) {
    .sub-head{
        /* top: 0; */
        height: 20vh;
        /* position: fixed; */
    }

	.sub-head h1{
        font-size: 27px;
    }
    
    .sub-head img{
        display: none;
        /* margin-bottom: 30px;
        height: 50px;
        width: 100px; */
    }

    .Container{
        /* margin-top: 115px; */
    }

    /*==========DASHBOARD STAT CARD=========== */

    .cards{
        /* width: 40%; */
        display: flex;
        flex-direction: row;  
        width: 70%;
        padding: 5px;
        justify-content: space-around;
    }

    .card-container{
        /* width: 100%; */
        display: inline;
        flex-direction: row;
 
      
    }

    /* ===========TABLES============ */

    table{
        display: none;
    }

    /* =========INPUTS============= */
/* 
    input{
        padding-right: 30px;
        padding: 10px 80px;
        margin-top: 6px;
        margin-bottom: 6px;
    } */

    .brthdate{
        width: 100%;
        padding: 10px;
    }

    select{
        /* padding: 10px 108px; */
        margin-top: 6px;
        margin-bottom: 6px;
        font-size: 12px;
        width: 100%;
        /* text-align: left; */
        /* padding-left: 0; */
    }
    
    .selection{
        width: 100%;
    }

    .date{
        width: 0%;
        /* padding: 10px 10px; */
    }
    
    option{
        text-align: left;
        padding-left: 10px;
    }

    /* =====MODAL============ */
    .modal-content{
        width: 90%;
    }

    .modal-body{
        color: white;
        padding: 15px 0;
        height: 80vh;
        overflow: hidden;
    }
    
    .modal-body:hover{
        overflow-y: auto;
    }

    .modal-open{
        /* padding: 12px 16px; */
        background: royalblue;
        color: white;
        border-radius: 4px;
        outline: none;
        border: none;
        /* margin-top: 1px; */
        float:left;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 15px;
        width: 32%;
        transition: 0.3s;
        margin-left: 1px;
        margin-top: 1px;
        /* padding: 14px 16px; */
    }

    button {
        background-color: #04AA6D;
        border-radius: 4px;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-left: 1px;
    }
      
    button:hover {
        background-color: royalblue;
        opacity: 0.8;
    }

    /* ====ROW & COLUMN-===== */

    .row {
        flex-direction: column-reverse;
    }
    .col-25 {
        margin-bottom: 20px;
    }

    input[type=text] {
        width: 100%;
        margin-bottom: 20px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }
      
    /* *******************LOGOUT BUTTON***************** */

    .logout-btn{
        /* top: 0; */
        /* padding: 3px; */
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 2.5vh;
    }

    .logout i{
        padding: 1px;
    }

    /*=============== MENU================= */

    /* .Container{
        height: 10vh;
        /* top: 0;
        bottom: 0;
        height: 50vh; */
    /* } */

    /* .tabcontent{
        display: none;
    }  */

    .tab{
        /* float: left; */
        bottom: 0;
	    width: 96%;
        margin: 3px;
        /* left: -100%; */
        align-items: center;
        /* background: #34495e; */
        transition: all .5s;
        /* display: none; */
    }

    #myLinks{
        display: none;
    }

    /* #check:checked ~tab{
        float: left;
	    width: 96%;
        margin: 3px;
        align-items: center;
        transition: all .5s;
    }

    .tab .show{
        float: left;
	    width: 96%;
        margin: 3px;
        align-items: center;
        transition: all .5s;
    }

    .tablinks{
 
        left: -100%;
    } */

    /* .menu{
        margin-bottom: 19vh;
        overflow: hidden;
        background-color: #333;
        position: relative;
        /* display: block; */
    /* } */ */

    .menu a {
        color: white;
        /* padding: 14px 16px; */
        text-decoration: none;
        font-size: 30px;
        display: block;
        margin-bottom: 19vh;
    }
      
    .menu a.icon {
       margin-right: 10px;
        /* background: black; */
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }



    /* .menu-icon{
        color: beige;
        font-size: 30px;
        cursor: pointer;
    }
    #check{
        display: none;
    } */
    
}