*{
	margin: 0;
	padding: 0;
  /* overflow: hidden; */
}

.form-wrapper {
width:300px;
height:270px;
  position: absolute;
  top: 65%;
  left: 48%;
  margin: -184px 0px 0px -155px;
  background: rgba(0,0,0,0.27);
  padding: 15px 25px;
  border-radius: 5px;
  box-shadow: 0px 1px 0px rgba(0,0,0,0.6),inset 0px 1px 0px rgba(255,255,255,0.04);
}

.form-wrapper img{
  width: 100px;
  height: 100px;
  margin-left: 100px;
  margin-top: -60px;
  margin-right: 30px;
  text-align: center;
}

.form-item {
width:100%;
}

.form-item input{
  border: none;
  background:transparent;
  color: royalblue;
  margin-top:11px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  height: 49px;
  padding: 0 16px;
  width: 100%;
  padding-left: 55px;

}
input[type='password']{
	background: transparent url("images/pass.jpg") no-repeat;
	background-position: 10px 50%;
}
input[type='text']{
	background: transparent url("images/user.jpg") no-repeat;
	background-position: 10px 50%;

}

.form-item input:focus {
  outline: none;
  border:1.4px solid rgb(30, 177, 30);
  border-radius: 8px;
}

.button-panel {
  margin-bottom: 20px;
  padding-top: 10px;
  width: 100%;
  border-radius: 8px;
}

.button-panel .button {
  background: #04AA6D;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  /* height: 50px; */
  padding: 14px 20px;
  font-family: 'helvetica','Open Sans', sans-serif;
  font-size: 1.2em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.6s linear;
  width: 100%;
  margin-top:10px;
}

.button:hover {
  background: royalblue;
}

.form-item input, .button-panel .button {
  border-radius: 2px
}

.reminder {
  text-align: center;
}

.reminder a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.reminder a:hover {
  color: #cab6bf;
}
.sub-hd{
	height: 25vh;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)), url(images/background.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
	/* padding: 40px; */
	color: #fff;
  /* overflow: hidden; */
}
.sub-hd h1{
  color: #f44336;
	font-size: 72px;
  padding-top: 40px;
  /* margin-top: 30px; */
}

  /*--------------- FOOTER-------------------------- */

  footer{
    position: absolute;
    background: royalblue;
    text-align: center;
    width: 100%;
    height: 5vh;
    bottom: 0;
  }
  footer h2{
    position: absolute;
    left: 40%;
    margin-top: 4px;
    font-size: 18px;
  }

  .psw{
    float: right;
  }

  /* -----------------------MEDIA 800px--------------------- */
  @media only screen and (max-width: 800px) {
    .sub-hd{
      height: 27vh;
      width: 100%;
      background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)), url(images/background.jpg);
      background-size: cover;
      background-position: center;
      text-align: center;
      /* padding: 40px; */
      color: #fff;
      overflow: hidden;
    }

    .sub-hd h1{
      color: #f44336;
      font-size: 30px;
      padding: 10px;
      text-align: center;
    }

    .form-wrapper {
        width:270px;
        height:270px;
        position: absolute;
        top: 45%;
        left: 48%;
        margin: -184px 0px 0px -155px;
        background: rgba(0,0,0,0.27);
        padding: 15px 25px;
        border-radius: 5px;
        box-shadow: 0px 1px 0px rgba(0,0,0,0.6),inset 0px 1px 0px rgba(255,255,255,0.04);
    }

    .form-wrapper img{
      width: 100px;
      height: 100px;
      margin-left: 90px;
      margin-top: -60px;
      margin-right: 30px;
      text-align: center;
    }
  }

  /* -----------------MEDIA 1024-------------------------- */

  @media only screen and (max-width: 1124px) {
    .sub-hd h1{
      color: #f44336;
      font-size: 64px;
      padding: 10px;
      text-align: center;
    }

    .form-wrapper {
        width:270px;
        height:270px;
        position: absolute;
        top: 65%;
        left: 48%;
        margin: -184px 0px 0px -155px;
        background: rgba(0,0,0,0.27);
        padding: 15px 25px;
        border-radius: 5px;
        box-shadow: 0px 1px 0px rgba(0,0,0,0.6),inset 0px 1px 0px rgba(255,255,255,0.04);
    }

    .form-wrapper img{
      width: 100px;
      height: 100px;
      margin-left: 90px;
      margin-top: -60px;
      margin-right: 30px;
      text-align: center;
    }
  }

  /*------------------ MEDIA 400px------------------- */

  @media only screen and (max-width: 450px) {
    .sub-hd h1{
      color: #f44336;
      font-size: 42px;
      padding: 10px;
      text-align: center;
    }

    .form-wrapper {
        width:270px;
        height:270px;
        position: absolute;
        top: 65%;
        left: 48%;
        margin: -184px 0px 0px -155px;
        background: rgba(0,0,0,0.27);
        padding: 15px 25px;
        border-radius: 5px;
        box-shadow: 0px 1px 0px rgba(0,0,0,0.6),inset 0px 1px 0px rgba(255,255,255,0.04);
    }

    .form-wrapper img{
      display: none;
      width: 100px;
      height: 100px;
      margin-left: 90px;
      margin-top: -60px;
      margin-right: 30px;
      text-align: center;
    }
  }

  /*------------------ MEDIA 320px------------------- */

  @media only screen and (max-width: 320px) {
    .sub-hd h1{
      color: #f44336;
      font-size: 32px;
      padding: 10px;
      text-align: center;
    }

    .form-wrapper {
        width:270px;
        height:200px;
        position: absolute;
        top: 65%;
        left: 48%;
        margin: -184px 0px 0px -155px;
        background: rgba(0,0,0,0.27);
        padding: 15px 25px;
        border-radius: 5px;
        box-shadow: 0px 1px 0px rgba(0,0,0,0.6),inset 0px 1px 0px rgba(255,255,255,0.04);
    }

    .form-wrapper img{
      display: none;
    }
  }